p {
    color: #141010;
}

table {
    width: 100%;
}

.third_section_info>h2 {
    color: #141010;
}

.third_section_info {
    width: 70vw;
}

.third_section_info>ul {
    margin: 1rem 0;
}

.third_section_info>ul>li {
    margin: 0.5rem 0;
}

.product__container {
    display: flex;
    flex-direction: column;
}

.productAdvantages {
    border-bottom: 2px solid #c7c3c3;
    width: 100%;
    height: 70px;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
}

.productAdvantages:nth-child(5) {
    border: none;
}

.advantageKey {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
}

.advantageValue>td {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.third_section_info>table>div {
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem;
}

.productName {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    text-align: center;
    background-color: #e50914;
    padding: 0.3rem;
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
}

.btn_planSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_planSection>button {
    width: 100%;
    max-width: 300px;
    margin: 1rem;
}

.advise_section {
    width: 100%;
    display: flex;
    background-color: #ebe9e9a9;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.advise_section>span {
    padding: 0.4rem;
    padding-right: 0.8rem;
    font-size: 1rem;
    color: #adaaaa;
}

.link {
    color: blue;
}

.advise_info {
    margin: 0.8rem 0;
    font-size: 0.8rem;
}

@media (min-width: 600px) {
    .third_section_info>table>div {
        justify-content: end;
    }

    .productName {
        width: 5rem;
        height: 4rem;
        margin-left: 1rem;
    }

    .advantageKey {
        justify-content: start;
        width: 28%;
        text-align: start;
    }

    .productAdvantages {
        padding: 0.5rem 0.8rem;
        flex-direction: row;
        align-items: center;
    }

    .advantageValue {
        display: flex;
        width: 80%;
        justify-content: end;
    }

    .advantageValue>td {
        margin: 0;
        padding: 0 1rem 0 3rem;
        max-width: 392px;
    }
}

@media (min-width: 900px) {
    .advantageKey {
        width: 40%;
        font-size: 1rem;
    }

    .productName {
        width: 6rem;
        height: 5rem;
        font-size: 0.8rem;
    }

    .advantageValue>td {
        max-width: 440px;
    }
}

.activeBA:nth-child(1) {
    color: red;
}


.activeB:nth-child(2) {
    color: red;
}


.activeS:nth-child(3) {
    color: red;
}


.activeP:nth-child(4) {
    color: red;
}